.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--darken);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-dots {
  height: 200px;
  width: 200px;
  position: fixed;
  z-index: 5;
  mask: no-repeat center;
}
.App-dots path {
  fill: var(--primary);
}
.App-dots .cls-1 {
  fill: var(--primary);
}

.App-dots--right {
  right: -9%;
  top: 21vh;
}
.App-dots--left {
  left: -9%;
  bottom: 21vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-abstract {
  font-size: 1.2rem;
  margin: 3rem auto;
  padding: 1.2rem;
}

.App-date {
  font-size: 1.2rem;
}

.App-input {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.App-input label {
  text-transform: uppercase;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  align-self: flex-start;
  font-size: 2.1rem;
  color: var(--primary);
}

.App-input input {
  border-radius: 9px;
  background: linear-gradient(315deg, #02bbab, #029e90);
  box-shadow: -5px -5px 12px #029a8d, 5px 5px 12px #02c4b3;
  height: 4.2rem;
  font-size: 1.8rem;
  border: none;
  color: white;
}
.App-input input:focus {
  border-radius: 9px;
  background: linear-gradient(145deg, #029e90, #02bbab);
  box-shadow: 5px 5px 12px #029a8d, -5px -5px 12px #02c4b3;
}

.App-card {
  background-color: var(--secondary);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.6) 0%,
    rgb(2 175 160 / 0.33) 12%,
    rgba(218, 243, 241, 0.6) 30%
  );
  border: none;
  box-shadow: 0 0 black !important;
}

.App-card__content {
  position: relative;
}

.App-card__title {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--darken);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 3.3rem;
}

.App-card__inset {
  position: absolute;
  top: -1rem;
  display: block;
  right: 3rem;
  color: var(--secondary);
  padding: 0.6rem;
  border-radius: 6px;
  background: linear-gradient(315deg, #02bbab, #029e90);
  box-shadow: 0 -3px 6px -3px #02aa9b, 0 6px 6px -3px #02b4a5;
}

.App-card__paragraph {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--darken);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-height: 3.3rem;
}

.App-card_link {
  text-align: right;
  display: block;
  font-size: 1.5rem;
  color: var(--secondary);
  transition: 0.3s ease-in text-shadow;
}

.App-card_link:hover {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 6px #02afa0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
